.btnAddPost {
  margin-bottom: 20px;
}
.modal {

  background-color: rgba(0, 120, 201, 0.9);
  padding-top: 20vh;
  padding-left: 35vw;
  padding-right: 35vw;

  .formAddPost {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;

    .btn {
      font-size: 0.875rem;
      padding: 5px 16px;
      border-radius: 4px;
      text-transform: uppercase;
      width: 200px;
      margin: auto;
    }
  }

}